@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    background: black;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.mainLogin {
    width: 100vw;
    height: 100vh;
    background: rgba(75, 0, 130, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.loginStyle {
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginStyle h1 {
    font-size: 3vw;
}
.loginStyle footer {
    font-size: 1vw;
}
.animateImage {
    width: 35vw;
}

.loginBase {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogin {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #f1f1;
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;

}

.cardLogin h1 {
    color: rgba(130,0,200);
    font-weight: 800;
    margin: 0;
}

.textLogin {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.textLogin input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgba(50,50,50);
    color: #f1f1f1;
    font-size: 12pt;
    box-shadow: 0px 10px 40px black;
    outline: none;
    box-sizing: border-box;
}

.textLogin label {
    color: white;
    margin: 10px 0px;
}

.btnLogin {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: rgba(75,0,200);
    box-shadow: 0px 0px 40px rgba(150,0,255,0.3);
}

.btnLogin:hover {
    color: white;
    background: black;
}

@media only screen and (max-width: 950px){
    .cardLogin {
        width: 80%;
    }
}
@media only screen and (max-width: 600px){
    .mainLogin {
        flex-direction: column;
    }
    .loginStyle h1{
        display: none;
    }
    .loginStyle {
        width: 100%;
        height: auto;
    }
    .loginBase {
        width: 100%;
        height: auto;
    }
    .animateImage {
        width: 50vw;
    }
    .cardLogin {
        width: 90%;
    }
}